body{
  color: #5a5a5a;
}

#navbar li {
  font-family: Itim, cursive;
  font-size: 20px;
}

#about, #contact {
  max-width: 920px;
}

#portfolio {
  margin-top:50px;
}

#endparagraph {
  margin: 13px;
}

.navbar-brand {
  font-family:Pacifico,cursive;
  font-size:25px;
}

.img-full {
    min-width: 100%;
}

#about h2 {
  font-family:Chewy,cursive;
  font-size:70px;
  padding-left:10px;"
}

#about p {
  font-family:PT sans,sans-serif;
  font-size:22px;
  padding:5px;
}

#about img {
   padding:10%;
}

#description {
  padding-top: 8%;
}

#contact {
  padding:50px;
  border-radius:13px;
}

#contact i {
   font-size: 28px;
}

#endparagraph>p {
   font-family:Overlock,cursive;
   font-size:24px;
}

#endparagraph>div {
   margin-top:40px;
}

#media-link ul {

  margin: 40px 0 0 80px;
  list-style-type: none;
}

#media-link li {
  margin-bottom: 20px;
}

/*@media screen and (min-width: 400px) {
  .carousel-control {
    bottom: 10%;
  }
}

@media screen and (min-width: 768px) {
  .carousel-control {
    bottom: 30px;
  }
}*/
