body, html {
  color: #5a5a5a;
  margin: 0;
  font-family: "Open Sans";
  font-size: 16px;
  background: #DFE2DB;
}

.container-fluid {
  max-width: 1200px;
}

a {
  font-weight: 700;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.portfolio-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.portfolio-entry .portfolio-img {
  flex-grow: 0;
  max-width: 50%;
  width: 50%;
}

img {
  width: 100%;
}

.portfolio-entry .portfolio-text {
  width: 50%;
  padding: 0 0 0 2em;
  padding-top: 0;
}

.portfolio-entry .portfolio-text h1{
  font-family: Acme;
  font-weight: 1000;
}

.portfolio-entry .img-inverted {
}

.imgframe{
  border-width: 15px;
  border-style: solid;
  padding: 10px;
  border-top-color: #4D4D4D;
  border-right-color: #000;
  border-bottom-color: #4D4D4D;
  border-left-color: #000;
  box-shadow: 2px 2px 4px rgba(0,0,0,.6);
}

.portfolio-prop {
  display: flex;
  flex-direction: row;
}

.portfolio-prop b {
  width: 25%;
}

.portfolio-prop span {
  display: inline;
}

#navbar li {
  font-family: Itim, cursive;
  font-size: 20px;
}

 #about, #contact {
  max-width: 920px;
}

#portfolio {
  margin-top:50px;
}

#endparagraph {
  margin: 13px;
}

.navbar-brand {
  font-family: Pacifico,cursive;
  font-size:25px;
}

#about h2 {
  font-family: Chewy,cursive;
  font-size:70px;
  padding-left:10px;
}

#about p {
  font-family: PT sans,sans-serif;
  font-size:22px;
  padding:5px;
}

#about img {
   padding:10%;
}

#description {
  padding-top: 8%;
}

#contact {
  padding:50px;
  border-radius:13px;
}

#contact i {
   font-size: 28px;
}

#endparagraph>p {
   font-family:Overlock,cursive;
   font-size:24px;
}

#endparagraph>div {
   margin-top:40px;
}

#media-link ul {
  margin: 40px 0 0 80px;
  list-style-type: none;
}

#media-link li {
  margin-bottom: 20px;
}

@media all and (max-width: 800px){
  .portfolio-entry-left {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .portfolio-entry-right {
    display: flex;
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  /* .portfolio-entry {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  } */
  .portfolio-entry .portfolio-text {
    width: 100%;
    padding: 0 0 0 2em;
    padding-top: 0;
  }
  .portfolio-entry .portfolio-img {
    flex-grow: 0;
    max-width: 50%;
    width: 100%;
  }
}
